<!--CONTENT-->
<div class="wrapper three-cols">
  <!--SIDEBAR-->
  <app-card title="Search" customCls="side-bar" [isScrollable]="true">
    <app-hotel-form [text]="text" (search)="searchHotels($event)">
    </app-hotel-form>

    <!-- <pre>{{hotels | json}}</pre> -->

    <app-separator></app-separator>

    <app-hotel-list [hotels]="hotels" [text]="text" [active]="active" (setActive)="setActive($event)">
    </app-hotel-list>
  </app-card>
  <!-- <pre>{{active | json}}</pre> -->


  <!--MAP-->
  <app-card customCls="map" [padding]="false">

    <app-gmap [active]="active"></app-gmap>

  </app-card>


  <!--INFO BOX-->
  <app-card [centeredContent]="true">
    <!--<img src="https://picsum.photos/400/200/?image=12" width="100%" height="200">-->
    <app-separator></app-separator>

    <app-rate [active]="active"></app-rate>
    <!-- <div>
        <i *ngFor="let star of [0,0,0,0,0]; let i = index"
        class="icon"
        [ngClass]="{
          'ion-ios-star': i < active?.stars,
          'ion-ios-star-outline': i > active?.stars
          }"
        ></i>
      </div> -->
    <app-stars [stars]="active?.stars ?? 0"></app-stars>

    <app-reservations [active]="active" (addToCart)="cart.addToCart(active!, $event)">
    </app-reservations>

  </app-card>

  <!--IMAGE GALLERY-->
  <app-card [isScrollable]="true" customCls="gallery">
    <app-image-gallery [active]="active" [activeImage]="activeImage">
    </app-image-gallery>
  </app-card>

  <!--SERVICES-->
  <app-card customCls="services" [isScrollable]="true" title="Services">
    <app-services [active]="active">
    </app-services>

  </app-card>

  <!--CONTACT FORM-->
  <app-card customCls="contact" title="Contacts">
    <app-contact-form (send)="sendEmail($event)"></app-contact-form>
  </app-card>

</div>
